# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [14]:
# "tobs" is "temperature observations"
df = pd.read_csv('hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [15]:
# Convert the date column format from string to datetime
df['date']=pd.to_datetime(df['date'],format='%Y-%m-%d')

In [16]:
# Set the date column as the DataFrame index
df.set_index('date',inplace=True)
df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

In [17]:
# Drop the date column
# If drop the Date column ,Further analysis cannot be done,so dropping it only in the output
df.reset_index(drop=True).head()

       station  prcp  tobs
0  USC00519397  0.08    65
1  USC00519397  0.00    63
2  USC00519397  0.00    74
3  USC00519397  0.00    76
4  USC00519397   NaN    73

### Compare June and December data across all years

In [18]:
from scipy import stats
from scipy.stats import ttest_rel

In [19]:
# Filter data for desired months
df.reset_index(inplace=True)
df=df[(df['date'].dt.month==6)|(df['date'].dt.month==12)]
df.head()

          date      station  prcp  tobs
133 2010-06-01  USC00519397  0.00    78
134 2010-06-02  USC00519397  0.01    76
135 2010-06-03  USC00519397  0.00    78
136 2010-06-04  USC00519397  0.00    76
137 2010-06-05  USC00519397  0.00    77

In [20]:
#Add Day column (i.e %d) and Year column to the DataFrame
df['day']=df['date'].dt.day
df['year']=df['date'].dt.year
df.reset_index(inplace=True)
df.head()

   index       date      station  prcp  tobs  day  year
0    133 2010-06-01  USC00519397  0.00    78    1  2010
1    134 2010-06-02  USC00519397  0.01    76    2  2010
2    135 2010-06-03  USC00519397  0.00    78    3  2010
3    136 2010-06-04  USC00519397  0.00    76    4  2010
4    137 2010-06-05  USC00519397  0.00    77    5  2010

In [21]:
# Identify the average temperature for June
df[df['date'].dt.month==6]['tobs'].mean()

74.94411764705882

In [22]:
# Identify the average temperature for December
df[df['date'].dt.month==12]['tobs'].mean()

71.04152933421226

In [23]:
# Create collections of temperature data

In [24]:
JuneDF=df[(df['date'].dt.month==6)]
DecDF=df[(df['date'].dt.month==12)]

In [30]:
print(len(JuneDF),len(DecDF))

1700 1517

In [ ]:
# Run paired t-test

In [26]:
#To run paired t-test, we need same Length data set i.e Temp observations for June and Month should be same
#Above JuneDF and DecDF are of varying lengths.
#Merge them based on Station,Year and Day, so that for a station for the year and month we have June and Dec values.
df1=pd.merge(JuneDF,DecDF,on=['station','year','day'],suffixes=('_June','_Dec'))
df1.head()

,index_June,date_June,station,prcp_June,tobs_June,day,year,index_Dec,date_Dec,prcp_Dec,tobs_Dec
0,133,2010-06-01,USC00519397,0.0,78,1,2010,305,2010-12-01,0.04,76
1,135,2010-06-03,USC00519397,0.0,78,3,2010,306,2010-12-03,0.00,74
2,136,2010-06-04,USC00519397,0.0,76,4,2010,307,2010-12-04,0.00,74
3,138,2010-06-06,USC00519397,0.0,78,6,2010,308,2010-12-06,0.00,64
4,139,2010-06-07,USC00519397,0.0,77,7,2010,309,2010-12-07,0.00,64

In [28]:
#Now Create Collections of temp. data
June=df1[(df1['date_June'].dt.month==6)]['tobs_June']
Dec=df1[(df1['date_Dec'].dt.month==12)]['tobs_Dec']

In [29]:
# They both are of equal length
print(len(June),len(Dec))

1358 1358

In [31]:
#Run t-test
ttest_rel(June,Dec)

Ttest_relResult(statistic=30.49176210879506, pvalue=5.706809811298657e-156)

### Analysis

p-value is very low. It means that there is a differnce in mean tempratures of June and Dec across years and stations.